@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import-normalize;

html {
    font-size: 18px;
    color: white;
    font-family: "Roboto", sans-serif;
}

body,
#root,
.app {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.app-background,
.app-content {
    width: 100%;
    height: 100%;
}

.app-background {
    overflow: hidden;
}

.carousel-image {
    filter: blur(2px) brightness(50%);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: grid;
    grid-template: 1fr 4fr 1fr / 1fr 13fr 1fr;
}

.weather {
    grid-area: 1 /1 / span 1 / span 3;
    justify-self: end;
    align-self: end;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.weather-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

#temperature {
    font-size: max(14px,1.5rem);
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#weather-description {
    text-transform: uppercase;
    font-size: min(1rem,16px);
}

.container {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.todo-app {
    min-width: 245px;
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template: 23% 75% / 1fr;
    gap: 2%;
    overflow:auto;
}

.todo-app * {
    margin: 0;
}

.todo-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
#input-label{
    font-size:2rem;
    font-weight:700;
}

#todo-input {
    background: none;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    caret-color: white;
    color: white;
    font-size: max(16px,1.5rem);
    text-align: center;
    height: 50%;
}

.todo-container {
    padding: 20px;
}

.todo-list {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap:wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    justify-items: center;
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.todo-list::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.todo-item {
    max-height: 80px;
    backdrop-filter: none;
    width: fit-content;
    padding: 10px;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
}

.todo-buttons {
    justify-self: end;
    display: flex;
    gap: 5px;
    transform: translate(10px, calc(-50% + 2.5px));
    visibility: hidden;
}

#remove {
    font-size: min(16px,1rem);
    background: rgba(208, 2, 27, 0.25);
}

#done {
    font-size: min(16px,1rem);
    background: rgba(80, 227, 194, 0.25);
}

.completed-todo {
    opacity: .4;
}

.todo-button {
    backdrop-filter: none;
    font-weight: 600;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

/* setting background color for each todo item container */
.blue-background {
    background: rgba(69, 123, 157, .4);
}

.red-background {
    background: rgba(230, 57, 70, .4);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%) ;
}

.green-background {
    background: rgba(88, 129, 87, .4);
}

.orange-background {
    background: rgba(247, 127, 0, .4);
}
/* end */ 


.todo-button:hover {
    filter: drop-shadow(0 0 2px white);
    transition: filter .2s ease-in;
}

.todo-item:hover>.todo-buttons {
    visibility: visible !important;
}

.left-arrow {
    grid-area: 2 / 1 / span 1 / span 1;
}

.right-arrow {
    grid-area: 2 / 3 / span 1 / span 1;
}

.quote {
    grid-area: 3 / 1 / span 1 / span 3;
    justify-self: center;
}

.quote-author {
    color: white;
    opacity: 0.5;
}

/* style buttons as arrows */

.arrow {
    background: none;
    border: none;
    align-self: center;
    justify-self: center;
    width: 40px;
    height: 40px;
}

.arrow:hover {
    opacity: 0.5;
}

.quote {
    text-align: center;
    width: 80%;
}

@media screen and (max-width:650px){
    html{
        font-size: 12px;
    }
}
@media screen and (max-width:437px){
    .todo-form{
        padding: 10px;
    }
    .todo-list {
        justify-content: center;
    }
    #input-label{
        font-size: max(1.2rem,16px);
    }
}

@media screen and (max-height: 702px) {
    
}